<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Night Life</title>
        <link rel="stylesheet" href="css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
        <script src="js/jquery-1.11.3.js"></script>
        <script src='js/angular.js'></script>
        <script src="js/angular-ui-router.js"></script>
        <script src="js/scripts.js"></script>
    </head>
<body ng-app = "app" ng-controller = "MainCtrl as main">
    <div class = "backgroundImage"></div>
    
    <section class = "welcome">
        
        <div class = "header" ng-controller="NavCtrl">
            <div ng-hide = "isLoggedIn()" class = "headButton loginout" ng-click = "main.setTab(1)"><a href ng-click = "tab.setTab(1)">Log In</a></div>
            <div ng-hide = "isLoggedIn()" class = "headButton register"><a href ng-click = "main.setTab(2)">Register</a></div>
            <div ng-show = "isLoggedIn()" class = "headButton loginout"><a href  = "" ng-click = "logOut()">Log Out</a></div>
        </div>
        
        <div class = "center" ng-hide = "hideMe == 1">
            <div class = "gOut">Going out tonight?</div>
            <div class = "letHelp">We'll help pick the venue.</div>
            <form ng-submit = "searchArea()">
                <input type = "text" placeholder = "Enter city or zipcode" class = "enterArea" ng-model = "place"/>
                <input type = "submit" class = "enterButton" value = "Go">
            </form>
        </div>
    </section>
    
    <log-in ng-show = "main.isSet(1)"></log-in>
    <register ng-show = "main.isSet(2)"></register>

    <ui-view></ui-view>
    

</body>
</html>