html, body {
    width: 100%;
    min-width: 600px;
    margin: 0px;
    padding: 0px;
}

a, a:hover, a:visited, a:active {
    color: black;
    text-decoration: none;
}

.backgroundImage {
    background-color: #1A1A1A;
    background-image: url("../images/photoThree.jpg");
    background-position: center center;   
    background-size: cover;
    
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
}

.welcome {
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 600px;
    z-index: -1;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0,0,0,.3);
    font-family: 'Raleway', sans-serif;
}

.center {
    position:relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.gOut {
    font-size: 70px;
    text-decoration: none;
}

.headButton {
    width: 150px;
    color: white;
    position: absolute;
    text-align: center;
    font-size: 22px;
    top: 20px;
}

.headButton a {
    color:white;
}

.loginout {
    right: 0;
}

.register {
    right: 150px;
}

.letHelp {
    font-size: 50px;
    margin-bottom: 40px;
}

.enterArea {
    background: rgba(0,0,0,.7);
    color: white;
    font-size: 25px;
    border: 2px solid white;
    margin-right: 10px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s ease;
}

.enterArea:focus {
    outline: none;
}

.enterButton {
    font-size: 25px;
    border: 2px solid white;
    background: rgba(0,0,0,.7);
    color: white;
    transition: all 0.3s ease;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.enterButton:focus {
    outline: none;
}

.enterButton:hover{
    background: rgba(200,200,200,.5);
}

.results {
    width: 90%;
    margin: auto;
    margin-top: 100vh;
    margin-bottom: 5%;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background: rgba(0,0,0,.8);*/
}

.resultsList{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    min-height: 100px;
}

.placeImg{
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.placeSnippet{
    padding: 5px;
}

.placeName{
    font-size: 30px;
    margin-bottom: 0px;
}

.areyouGoing {
    font-size:16px;
    text-align: right;
}

.placeGo{
    font-size:16px;
    background: none;
    border: 2px solid;
    padding: 4px;
    transition: all .3s ease;
}

.letsGo {
    color: #1E8024;
    border-color: #1E8024;
}

.notGo {
    color: #A32926;
    border-color: #A32926;
}

.placeGo:hover {
    background-color: #1E8024;
    color: white;
}

.notGo:hover {
    background-color: #A32926;
    color: white;
}

.placeGo:focus {
    outline: none;
}

.divider {
    width: 90%;
    margin: auto;
    border: 1px solid;
}

.logInRegister {
    position: fixed;
    width: 240px;
    top: 20px;
    right: 20px;
    color: black;
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    margin: 50px 0px 50px 0px;
    text-align: center;
    z-index: 500;
}

.loginDisplay {
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    font-size: 40px;
}

.outline {
    font-family: 'Raleway', sans-serif;
    width: 200px;
    font-size: 20px;
    border: 1px solid black;
    padding: 2px;
}

.outline:focus {
    outline: none;
}

.smallOutline {
    font-family: 'Raleway', sans-serif;
    width: 100px;
    font-size: 18px;
    border: 1px solid black;
    padding: 2px;
    background: none;
}

.smallOutline:focus {
    outline: none;
}